<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Book Shelf</title>
    </head>
    <body>
        {% load crispy_forms_tags %}
        <div class='container mt-5'>
            <div class='text-center alert alert-danger'>
                <h1>Book Shelf</h1>
            </div>

            <div class='row'>
                <div class='col-sm-4'>
                    <h4 class="text-center alert alert-info">Add/Update Book</h4>

                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="book_id" id="book_id"/>
                        <div class="form-group">
                            {{ form.name }}
                            <div id="error_name" class="alert alert-danger mt-1" style="display: none;"></div>
                            {{ form.author }}
                            <div id="error_author" class="alert alert-danger mt-1" style="display: none;"></div>
                        </div>
                    </form>
                    <input type="button" id="btn-save" class="btn btn-success form-control mt-2" value="save"/>
                    <div id="alert_new" class="alert alert-primary mt-2" style="display: none;"></div>
                    <div id="alert_error" class="alert alert-danger mt-2" style="display: none;"></div>
                </div>

                <div class="col-sm-8">
                    <h4 class="text-center alert alert-info">Currently in Shelf</h4>
                    <div id="error_table" class="alert alert-danger mt-1" style="display: none;"></div>
                    <table class="table table-hover" id="table_data">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Book's Name</th>
                                <th>Author's Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            {% for row in data %}
                                <tr>
                                    <td>{{ row.id }}</td>
                                    <td>{{ row.name }}</td>
                                    <td>{{ row.author }}</td>
                                    <td>
                                        <button data-book_id="{{ row.id }}" id="btn-edit" class="btn btn-info btn-edit" value="Edit"><i class="fa fa-edit"></i></button>
                                        <button data-book_id="{{ row.id }}" id="btn-del" class="btn btn-danger btn-del" value="Delete"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% include 'ajax.html' %}
</html>